### IDE ###
.idea
.vscode
*.code-workspace

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

### K8s ###
*_postgres-secrets.yaml
*_tern-secrets.yaml
*_write-hello-secrets.yaml
*_booking-server-secrets.yaml
