### IDE ###
.idea
.vscode
*.code-workspace

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

### K8s ###
./k8s/manifests/postgres/03_postgres-secrets.yaml
./k8s/manifests/postgres/06_tern-secrets.yaml
